<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Maintenance</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">>
    <script defer src="https://use.fontawesome.com/releases/v5.15.4/js/all.js" integrity="sha384-rOA1PnstxnOBLzCLMcre8ybwbTmemjzdNlILg8O7z1lUkLXozs4DHonlDtnE7fpc" crossorigin="anonymous"></script>
</head>
<body>
<a href="/index">
    <img th:src="@{/images/AirBusinessLogo.jpg}" height="64" width="64"/>
</a>
<div th:switch="${maintenance}" class="container my-5">
    <div class="row">
        <div class="col-md-6">
            <h2 th:case="null">No Maintenance Items yet!</h2>
            <div th:case="*">
                <h2 class="my-5">Maintenance Items</h2>
                <table class="table table-striped table-responsive-md">
                    <thead>
                    <tr>
                        <th>Entered</th>
                        <th>Fixed</th>
                        <th>Details</th>
                        <th>Subsystem</th>
                        <th>Level</th>
                        <th>Edit</th>
                        <th>Delete</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="issue : ${maintenance}">
                        <td th:text="${issue.entered}"></td>
                        <td th:text="${issue.fixed}"></td>
                        <td th:text="${issue.details}"></td>
                        <td th:text="${issue.subSystem}"></td>
                        <td th:text="${issue.level}"></td>
                        <td><a th:href="@{/maintenance/edit/{id}(id=${issue.id})}" class="btn btn-primary"><i class="fas fa-fighter-jet ml-2"></i></a></td>
                        <td><a th:href="@{/maintenance/delete/{id}(id=${issue.id})}" class="btn btn-primary"><i class="fas fa-fighter-jet ml-2"></i></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <p class="my-5"><a th:href="@{/new-issue}" class="btn btn-primary"><i class="fas fa-fighter-jet ml-2"></i></a></p>
            <!--En tant que mécanicien en chef, je veux voir tous les problèmes de maintenance non résolus,
            afin de pouvoir planifier les interventions des mécaniciens.-->
            <!-- 1. un bouton à l’écran de maintenance.
             2. une requête à la classe MaintenanceRepository.
             3. un endpoint d’API à la classe MaintenanceController.-->
            <a href="/maintenance/unfixed" class="btn btn-primary">Not Fixed</i></a></p>
        </div>
    </div>
</div>
</body>
</html>